ipdb
joblib
tqdm
opencv-python
yacs
tabulate
termcolor
chumpy
mediapipe; sys_platform != 'darwin' or platform_machine != 'arm64'
mediapipe-silicon; sys_platform == 'darwin' and platform_machine == 'arm64'
func_timeout

#openpifpaf

mmcv-full==1.5.0
mmdet==2.24.1
mmpose==0.24.0


# scipy==1.9.3